# Table of Contents
 <p><div class="lev1"><a href="#Task-1.-Compiling-Ebola-Data"><span class="toc-item-num">Task 1.&nbsp;&nbsp;</span>Compiling Ebola Data</a></div>
 <div class="lev1"><a href="#Task-2.-RNA-Sequences"><span class="toc-item-num">Task 2.&nbsp;&nbsp;</span>RNA Sequences</a></div>
 <div class="lev1"><a href="#Task-3.-Class-War-in-Titanic"><span class="toc-item-num">Task 3.&nbsp;&nbsp;</span>Class War in Titanic</a></div></p>

In [4]:
DATA_FOLDER = '/home/lemni/Documents/cours/appliedDataAnalysis/git/ADA2017-Tutorials/02 - Intro to Pandas/Data' # Use the data folder provided in Tutorial 02 - Intro to Pandas.
import pandas as pd
import numpy as np
import os, glob
from functools import reduce

## Task 1. Compiling Ebola Data

The `DATA_FOLDER/ebola` folder contains summarized reports of Ebola cases from three countries (Guinea, Liberia and Sierra Leone) during the recent outbreak of the disease in West Africa. For each country, there are daily reports that contain various information about the outbreak in several cities in each country.

Use pandas to import these data files into a single `Dataframe`.
Using this `DataFrame`, calculate for *each country*, the *daily average per month* of *new cases* and *deaths*.
Make sure you handle all the different expressions for *new cases* and *deaths* that are used in the reports.

In [5]:
# Write your answer here

## Task 2. RNA Sequences

In the `DATA_FOLDER/microbiome` subdirectory, there are 9 spreadsheets of microbiome data that was acquired from high-throughput RNA sequencing procedures, along with a 10<sup>th</sup> file that describes the content of each. 

Use pandas to import the first 9 spreadsheets into a single `DataFrame`.
Then, add the metadata information from the 10<sup>th</sup> spreadsheet as columns in the combined `DataFrame`.
Make sure that the final `DataFrame` has a unique index and all the `NaN` values have been replaced by the tag `unknown`.

We have to chosen to set the taxon as the primary index because we believe it is the most meaningfull data in the set. 
Howerver, the index is formed by the taxon, the sample, the group and the barcode. Here the index would also have been unique without the BarCode, however it is more general. 
To process the data, we match the BarCode with the name file without its extension, as it seems to be the only way to assciate the others metadata with it. 
With the actual processing, we can scale our treatment for more files, as it loop over the list of files in the data folder.

In [9]:
filePaths = glob.glob(os.path.join(DATA_FOLDER,"microbiome","MID*.xls"))
fileBarCode = [os.path.basename(x).replace('.xls','') for x in filePaths]
metaFrame = pd.read_excel(os.path.join(DATA_FOLDER,"microbiome","metadata.xls"))
metaFrame = metaFrame.set_index(['BARCODE'])
concatframe = pd.DataFrame()
tempList =[]

for p in range(len(filePaths)):
    df =pd.read_excel(filePaths[p],names = ['Taxon', 'Value'],header=None).assign(BarCode=fileBarCode[p]).assign(Group=metaFrame.get_value(fileBarCode[p], "GROUP")).assign(Sample=metaFrame.get_value(fileBarCode[p], "SAMPLE"))
    tempList.append(df)
concatframe = pd.concat(tempList)
concatframe.fillna(value='unknown',inplace=True)
concatframe.set_index(['Taxon','Sample','Group','BarCode'],inplace=True)
concatframe=concatframe.sort_index(level=['Taxon','Sample','Group','BarCode'])
concatframe

                                                                                       Value
Taxon                                              Sample  Group              BarCode
Archaea "Crenarchaeota" Thermoprotei Acidilobal... tissue  Control 1          MID3         1
                                                           Control 2          MID5         5
                                                           NEC 1              MID2         2
Archaea "Crenarchaeota" Thermoprotei Acidilobal... stool   Control 1          MID7         1
                                                           Control 2          MID9         1
                                                   tissue  Control 1          MID3        15
                                                           Control 2          MID5        26
                                                           NEC 1              MID2        14
Archaea "Crenarchaeota" Thermoprotei Desulfuroc... stool   Control 1          MID7         8
                                                           Control 2          MID9        16
                                                           NEC 1              MID6         7
                                                   tissue  Control 1          MID3        14
                                                           Control 2          MID5        28
                                                           NEC 1              MID2        23
                                                           NEC 2              MID4         2
                                                   unknown EXTRACTION CONTROL MID1         7
Archaea "Crenarchaeota" Thermoprotei Desulfuroc... tissue  Control 2          MID5         1
Archaea "Crenarchaeota" Thermoprotei Desulfuroc... stool   Control 1          MID7         2
                                                           Control 2          MID9         2
                                                           NEC 1              MID6         1
                                                   tissue  Control 1          MID3         4
                                                           Control 2          MID5         5
                                                           NEC 1              MID2         1
Archaea "Crenarchaeota" Thermoprotei Desulfuroc... tissue  Control 1          MID3         1
Archaea "Crenarchaeota" Thermoprotei Desulfuroc... stool   Control 1          MID7         1
                                                   tissue  Control 1          MID3         1
                                                           Control 2          MID5         2
                                                           NEC 1              MID2         2
Archaea "Crenarchaeota" Thermoprotei Desulfuroc... tissue  NEC 1              MID2         1
Archaea "Crenarchaeota" Thermoprotei Desulfuroc... stool   Control 1          MID7         1
...                                                                                      ...
Bacteria "Verrucomicrobia" Subdivision3   Subdi... stool   Control 1          MID7         4
Bacteria "Verrucomicrobia" Verrucomicrobiae Ver... stool   Control 1          MID7         9
                                                           NEC 1              MID6         1
                                                   tissue  Control 1          MID3         2
Bacteria "Verrucomicrobia" Verrucomicrobiae Ver... stool   Control 1          MID7        39
                                                           NEC 1              MID6         1
                                                   tissue  Control 1          MID3         1
Bacteria Cyanobacteria Cyanobacteria  Chloropla... stool   Control 1          MID7         1
                                                           NEC 2              MID8         1
                                                   tissue  Control 1          MID3         1
                                                           Control 2          MID5         2
                                                   unknown EXTRACTION CONTROL MID1         2
Bacteria Cyanobacteria Cyanobacteria  Chloropla... stool   Control 1          MID7         2
                                                           Control 2          MID9         1
                                                           NEC 2              MID8         4
                                                   tissue  Control 1          MID3         4
                                                           Control 2          MID5         5
                                                           NEC 1              MID2         1
                                                           NEC 2              MID4         6
                                                   unknown EXTRACTION CONTROL MID1        85
Bacteria Cyanobacteria Cyanobacteria  Chloropla... stool   Control 2          MID9        10
                                                   tissue  Control 1          MID3        54
                                                           Control 2          MID5        59
                                                           NEC 1              MID2         2
                                                           NEC 2              MID4        44
                                                   unknown EXTRACTION CONTROL MID1      1388
Bacteria OD1    OD1_genera_incertae_sedis          tissue  Control 1          MID3         1
                                                           Control 2          MID5         4
Bacteria OP11    OP11_genera_incertae_sedis        tissue  Control 1          MID3        26
Bacteria TM7    TM7_genera_incertae_sedis          tissue  NEC 1              MID2         2

[2396 rows x 1 columns]

## Task 3. Class War in Titanic

Use pandas to import the data file `Data/titanic.xls`. It contains data on all the passengers that travelled on the Titanic.

In [4]:
from IPython.core.display import HTML
HTML(filename=DATA_FOLDER+'/titanic.html')

For each of the following questions state clearly your assumptions and discuss your findings:
1. Describe the *type* and the *value range* of each attribute. Indicate and transform the attributes that can be `Categorical`. 
2. Plot histograms for the *travel class*, *embarkation port*, *sex* and *age* attributes. For the latter one, use *discrete decade intervals*. 
3. Calculate the proportion of passengers by *cabin floor*. Present your results in a *pie chart*.
4. For each *travel class*, calculate the proportion of the passengers that survived. Present your results in *pie charts*.
5. Calculate the proportion of the passengers that survived by *travel class* and *sex*. Present your results in *a single histogram*.
6. Create 2 equally populated *age categories* and calculate survival proportions by *age category*, *travel class* and *sex*. Present your results in a `DataFrame` with unique index.

We have chosen to remove all the rows where the age is unknown, as it would not have so much meaning when we use age categories
We also decide to use the qcut function over an exact splitting of the rows, because we thing it is more meaningful to sort rows from the median age than to just cut randomly. To be more precise, when sorting and splitting, people who were 28 years old were randomly sorted in a category or another. Here we prefer to sort all 28 years old in the younger category but at the cost of not having 2 exactly equal categories

In [17]:
titanicData= pd.read_excel(DATA_FOLDER + '/titanic.xls')
toSort = pd.DataFrame.copy(titanicData)
toSort.dropna(axis=0,subset=['age'],inplace=True)
toSort.dropna(axis=0,subset=['survived'],inplace=True)
fP = pd.qcut(toSort.age,2,labels=False)
fP = [bool(x) for x in fP]
res={}
res[0] = toSort[fP]
res[1] = toSort[np.logical_not(fP)]
#toSort.sort_values(by=['age'],inplace=True)
#res =np.split(toSort,2)
fr=[]
for i in range(2):
    tem =res[i].groupby(['pclass', 'sex']).agg({'survived': 'sum'})
    tem = tem.groupby(level=0).apply(lambda x:100 * x / float(x.sum()))
    fr.append(tem)
re = pd.concat(fr,axis=1,keys=['young','old'])
re.columns = re.columns.droplevel(level = 1)
re['young'] = re['young'].astype(str) + '%'
re['old'] = re['old'].astype(str) + '%'
re.rename(columns = {'young':'% of young survivors'},inplace=True)
re.rename(columns = {'old':'% of old survivors'},inplace=True)
re

              % of young survivors % of old survivors
pclass sex
1      female                71.2%     69.6428571429%
       male                  28.8%     30.3571428571%
2      female       85.4166666667%     76.1194029851%
       male         14.5833333333%     23.8805970149%
3      female       47.0588235294%     57.7319587629%
       male         52.9411764706%     42.2680412371%