Import libraries and define main constants

In [1]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup

TOP_UNIVERSITIES_BASE_URL = "https://www.topuniversities.com"
TIMES_BASE_URL = "https://www.timeshighereducation.com/"
# Max rank to load for each ranking
MAX_RANK=200 # 200

## Cached requests

The following method adds a cache for simple HTTP GET requests and ensures that at most one request will be sent per unique URL.

**Re-evalute the cell with the function to flush the cache.**

In [2]:
CACHE = {}
def cached_get_request(url, cache=CACHE):
    """
    Perform a cached HTTP GET request for `url`.
    
    The first time you send a request for an `url`, it will effectivelly
    send an HTTP request. The response will be cached in `cache` and each
    subsequent call for a cached URL will use a cache lookup using an exact
    match on the url instead of sending a new HTTP request.
    
    This function will use a shared cache by default, you can provide your
    own dictionary if you want to override this behavior.
    Reevalute this function to flush the shared cache.
    
    :param url str: URL to GET
    :cache: A dictionary from urls to HTTP responses. Mutated if it did not contain the key `url`.
    :return: _requests_' response for the provided URL.
    """
    
    if url not in cache:
        print("send request : " + url)
        cache[url] = requests.get(url)
    return cache[url]

We define a few functions used to read the data
- `read_rank` allows to convert a string of the form `"=40"` to `40`, `"10-12"` to `10` (TODO: give example with em dash)
- `read_us_formatted_integer` allows to convert string representation with a comma used used as the thousands separtor.

In [3]:
def read_rank(raw_rank):
    """
    :param raw_rank str: Rank string, as found by scrapping
    :return int: Integer representing the rank of the university
    """
    if '-' in raw_rank:
        return int(raw_rank[:raw_rank.index('-')])
    if '–' in raw_rank:
        return int(raw_rank[:raw_rank.index('–')])
    return int(raw_rank.replace('=', ''))

In [4]:
def read_us_formatted_integer(raw_integer):
    """
    Reads a string representing an integer properly formatted using US convention.
    
    The US format uses commas as the thousands separator.
    
    Examples:
    ```
    >>> read_us_formatted_integer("0")
    0
    >>> read_us_formatted_integer("1,000")
    1000
    >>> read_us_formatted_integer("999,999,999")
    999999999
    
    ```
    :param raw_integer str: US Formatted string for an integer
    :return int: Integer corresponding to the provided value.
    """
    return int(raw_integer.replace(",", ""))

In [5]:
def read_percentage(raw_percentage):
    """
    :param raw_percentage str: Percentage string
    :return float: Ratio corresponding to the percentage (between 0 and 1)
    """ 
    return float(raw_percentage.replace("%", "")) / 100

TODO : Describe data

In [6]:
def make_entry(name, rank, country, region, faculty_total, faculty_international, students_total, students_international, **extra_keys):
    return {
        "name": name,
        "rank": rank,
        "country": country,
        "region": region,
        "faculty_total": faculty_total,
        "faculty_international": faculty_international,
        "students_total": students_total,
        "students_international": students_international,
        **extra_keys
    }

In [7]:
def get_top(rawData, limit, top_uni):
    # TODO: Replace this function if we need to be flexible
    # TODO: Define "flexible"
    # TODO: Convert this function to a generator and let the consumer decide if he wants to allocate an array
    top = []
    for r in rawData:
        #print r
        tempRank = read_rank(r["rank_display"] if top_uni else r["rank"])
        if tempRank > limit:
            break
        top.append(r)
    return top

Fetch data from Top Universities
TODO : try catch beautiful soup
Make function for scrapping

In [10]:
def find_value_html(custom_class, html_to_parse):
    try:
        value_inside = html_to_parse.find("div", {"class": custom_class}).find("div", {"class": "number"}).text.strip()
    except Exception as e:
        #print("Error parsing html : ")
        #print(html_to_parse)
        #print(e)
        return None
    return value_inside

In [11]:
ranking_response = cached_get_request("https://www.topuniversities.com/sites/default/files/qs-rankings-data/357051.txt")
raw_ranking_data = ranking_response.json()['data']

def read_top_universities_entry(raw_entry, html_details):
    name = raw_entry["title"]
    rank = read_rank(raw_entry["rank_display"])
    country = raw_entry["country"]
    region = raw_entry["region"]
    
    faculty_total_str = find_value_html("total faculty",html_details)
    faculty_total = read_us_formatted_integer(faculty_total_str) if faculty_total_str is not None else None
    
    faculty_international_str = find_value_html("inter faculty",html_details)
    faculty_international = read_us_formatted_integer(faculty_international_str) if faculty_international_str is not None else None
    
    students_total_str  = find_value_html("total student",html_details)
    students_total = read_us_formatted_integer(students_total_str) if students_total_str is not None else None
    
    students_international_str  = find_value_html("total inter",html_details)
    students_international = read_us_formatted_integer(students_international_str) if students_international_str is not None else None
    
    return make_entry(name, rank, country, region, faculty_total, faculty_international, students_total, students_international)


def get_top_universities_data(raw_ranking_data, max_rank):
    """
    Return the list of parsed enries (with details) of the top universities ranking.
    It may perform network requests.
    """
    for raw_entry in raw_ranking_data:
        entry = {}
        
        rank = read_rank(raw_entry["rank_display"])
        if (rank > max_rank):
            # Assume sorted raw ranks to break (instead of `continue`-ing)
            break
        
        details_reponse = cached_get_request(TOP_UNIVERSITIES_BASE_URL + raw_entry["url"])
        raw_details_data = BeautifulSoup(details_reponse.text, 'html.parser')

        yield read_top_universities_entry(raw_entry, raw_details_data)


def get_top_universities_df(raw_ranking_data, max_rank):
    return pd.DataFrame([*get_top_universities_data(raw_ranking_data, max_rank)])

top_universities_df = get_top_universities_df(raw_ranking_data, MAX_RANK)
top_universities_df[40:80]

send request : https://www.topuniversities.com/universities/stanford-university
send request : https://www.topuniversities.com/universities/harvard-university
send request : https://www.topuniversities.com/universities/california-institute-technology-caltech
send request : https://www.topuniversities.com/universities/university-cambridge
send request : https://www.topuniversities.com/universities/university-oxford
send request : https://www.topuniversities.com/universities/ucl-university-college-london
send request : https://www.topuniversities.com/universities/imperial-college-london
send request : https://www.topuniversities.com/universities/university-chicago
send request : https://www.topuniversities.com/universities/eth-zurich-swiss-federal-institute-technology
send request : https://www.topuniversities.com/universities/nanyang-technological-university-singapore-ntu
send request : https://www.topuniversities.com/universities/ecole-polytechnique-f%C3%A9d%C3%A9rale-de-lausanne-epfl
send request : https://www.topuniversities.com/universities/princeton-university
send request : https://www.topuniversities.com/universities/cornell-university
send request : https://www.topuniversities.com/universities/national-university-singapore-nus
send request : https://www.topuniversities.com/universities/yale-university
send request : https://www.topuniversities.com/universities/johns-hopkins-university
send request : https://www.topuniversities.com/universities/columbia-university
send request : https://www.topuniversities.com/universities/university-pennsylvania
send request : https://www.topuniversities.com/universities/australian-national-university
send request : https://www.topuniversities.com/universities/university-michigan
send request : https://www.topuniversities.com/universities/duke-university
send request : https://www.topuniversities.com/universities/university-edinburgh
send request : https://www.topuniversities.com/universities/kings-college-london
send request : https://www.topuniversities.com/universities/tsinghua-university
send request : https://www.topuniversities.com/universities/university-hong-kong
send request : https://www.topuniversities.com/universities/university-california-berkeley-ucb
send request : https://www.topuniversities.com/universities/university-tokyo
send request : https://www.topuniversities.com/universities/northwestern-university
send request : https://www.topuniversities.com/universities/hong-kong-university-science-technology
send request : https://www.topuniversities.com/universities/university-toronto
send request : https://www.topuniversities.com/universities/mcgill-university
send request : https://www.topuniversities.com/universities/university-california-los-angeles-ucla
send request : https://www.topuniversities.com/universities/university-manchester
send request : https://www.topuniversities.com/universities/london-school-economics-political-science-lse
send request : https://www.topuniversities.com/universities/kyoto-university
send request : https://www.topuniversities.com/universities/seoul-national-university
send request : https://www.topuniversities.com/universities/peking-university
send request : https://www.topuniversities.com/universities/university-california-san-diego-ucsd
send request : https://www.topuniversities.com/universities/fudan-university
send request : https://www.topuniversities.com/universities/kaist-korea-advanced-institute-science-technology
send request : https://www.topuniversities.com/universities/university-melbourne
send request : https://www.topuniversities.com/universities/ecole-normale-sup%C3%A9rieure-paris
send request : https://www.topuniversities.com/universities/university-bristol
send request : https://www.topuniversities.com/universities/university-new-south-wales-unsw-sydney
send request : https://www.topuniversities.com/universities/chinese-university-hong-kong-cuhk
send request : https://www.topuniversities.com/universities/university-queensland
send request : https://www.topuniversities.com/universities/carnegie-mellon-university
send request : https://www.topuniversities.com/universities/city-university-hong-kong
send request : https://www.topuniversities.com/universities/university-sydney
send request : https://www.topuniversities.com/universities/university-british-columbia
send request : https://www.topuniversities.com/universities/new-york-university-nyu
send request : https://www.topuniversities.com/universities/brown-university
send request : https://www.topuniversities.com/universities/delft-university-technology
send request : https://www.topuniversities.com/universities/university-wisconsin-madison
send request : https://www.topuniversities.com/universities/tokyo-institute-technology
send request : https://www.topuniversities.com/universities/university-warwick
send request : https://www.topuniversities.com/universities/university-amsterdam
send request : https://www.topuniversities.com/universities/ecole-polytechnique
send request : https://www.topuniversities.com/universities/monash-university
send request : https://www.topuniversities.com/universities/university-washington
send request : https://www.topuniversities.com/universities/shanghai-jiao-tong-university
send request : https://www.topuniversities.com/universities/osaka-university
send request : https://www.topuniversities.com/universities/technical-university-munich
send request : https://www.topuniversities.com/universities/university-glasgow
send request : https://www.topuniversities.com/universities/ludwig-maximilians-universit%C3%A4t-m%C3%BCnchen
send request : https://www.topuniversities.com/universities/university-texas-austin
send request : https://www.topuniversities.com/universities/ruprecht-karls-universit%C3%A4t-heidelberg
send request : https://www.topuniversities.com/universities/university-illinois-urbana-champaign
send request : https://www.topuniversities.com/universities/georgia-institute-technology
send request : https://www.topuniversities.com/universities/pohang-university-science-technology-postech
send request : https://www.topuniversities.com/universities/ku-leuven
send request : https://www.topuniversities.com/universities/university-copenhagen
send request : https://www.topuniversities.com/universities/university-zurich
send request : https://www.topuniversities.com/universities/universidad-de-buenos-aires-uba
send request : https://www.topuniversities.com/universities/tohoku-university
send request : https://www.topuniversities.com/universities/national-taiwan-university-ntu
send request : https://www.topuniversities.com/universities/durham-university
send request : https://www.topuniversities.com/universities/lund-university
send request : https://www.topuniversities.com/universities/university-north-carolina-chapel-hill
send request : https://www.topuniversities.com/universities/boston-university
send request : https://www.topuniversities.com/universities/university-auckland
send request : https://www.topuniversities.com/universities/university-sheffield
send request : https://www.topuniversities.com/universities/university-birmingham
send request : https://www.topuniversities.com/universities/university-nottingham
send request : https://www.topuniversities.com/universities/ohio-state-university
send request : https://www.topuniversities.com/universities/zhejiang-university
send request : https://www.topuniversities.com/universities/trinity-college-dublin-university-dublin
send request : https://www.topuniversities.com/universities/rice-university
send request : https://www.topuniversities.com/universities/korea-university
send request : https://www.topuniversities.com/universities/university-alberta
send request : https://www.topuniversities.com/universities/university-st-andrews
send request : https://www.topuniversities.com/universities/university-western-australia
send request : https://www.topuniversities.com/universities/pennsylvania-state-university
send request : https://www.topuniversities.com/universities/lomonosov-moscow-state-university
send request : https://www.topuniversities.com/universities/hong-kong-polytechnic-university
send request : https://www.topuniversities.com/universities/university-science-technology-china

send request : https://www.topuniversities.com/universities/university-geneva
send request : https://www.topuniversities.com/universities/kth-royal-institute-technology
send request : https://www.topuniversities.com/universities/washington-university-st-louis
send request : https://www.topuniversities.com/universities/university-leeds
send request : https://www.topuniversities.com/universities/university-southampton
send request : https://www.topuniversities.com/universities/university-helsinki
send request : https://www.topuniversities.com/universities/eindhoven-university-technology
send request : https://www.topuniversities.com/universities/purdue-university
send request : https://www.topuniversities.com/universities/yonsei-university
send request : https://www.topuniversities.com/universities/kit-karlsruhe-institute-technology
send request : https://www.topuniversities.com/universities/sungkyunkwan-university-skku
send request : https://www.topuniversities.com/universities/utrecht-university
send request : https://www.topuniversities.com/universities/leiden-university
send request : https://www.topuniversities.com/universities/university-adelaide
send request : https://www.topuniversities.com/universities/uppsala-university
send request : https://www.topuniversities.com/universities/university-groningen
send request : https://www.topuniversities.com/universities/universiti-malaya-um
send request : https://www.topuniversities.com/universities/nanjing-university
send request : https://www.topuniversities.com/universities/nagoya-university
send request : https://www.topuniversities.com/universities/technical-university-denmark
send request : https://www.topuniversities.com/universities/university-california-davis
send request : https://www.topuniversities.com/universities/aarhus-university
send request : https://www.topuniversities.com/universities/humboldt-universit%C3%A4t-zu-berlin
send request : https://www.topuniversities.com/universities/universidade-de-s%C3%A3o-paulo
send request : https://www.topuniversities.com/universities/universidad-nacional-aut%C3%B3noma-de-m%C3%A9xico-unam
send request : https://www.topuniversities.com/universities/hokkaido-university
send request : https://www.topuniversities.com/universities/wageningen-university
send request : https://www.topuniversities.com/universities/freie-universitaet-berlin
send request : https://www.topuniversities.com/universities/ghent-university
send request : https://www.topuniversities.com/universities/queen-mary-university-london
send request : https://www.topuniversities.com/universities/kyushu-university
send request : https://www.topuniversities.com/universities/university-maryland-college-park
send request : https://www.topuniversities.com/universities/universite-de-montreal
send request : https://www.topuniversities.com/universities/universit%C3%A9-pierre-et-marie-curie-upmc
send request : https://www.topuniversities.com/universities/university-southern-california
send request : https://www.topuniversities.com/universities/chalmers-university-technology
send request : https://www.topuniversities.com/universities/university-california-santa-barbara-ucsb
send request : https://www.topuniversities.com/universities/lancaster-university
send request : https://www.topuniversities.com/universities/university-york
send request : https://www.topuniversities.com/universities/cardiff-university
send request : https://www.topuniversities.com/universities/pontificia-universidad-cat%C3%B3lica-de-chile-uc
send request : https://www.topuniversities.com/universities/aalto-university
send request : https://www.topuniversities.com/universities/mcmaster-university
send request : https://www.topuniversities.com/universities/rwth-aachen-university
send request : https://www.topuniversities.com/universities/university-pittsburgh
send request : https://www.topuniversities.com/universities/university-oslo
send request : https://www.topuniversities.com/universities/technische-universit%C3%A4t-berlin-tu-berlin
send request : https://www.topuniversities.com/universities/hebrew-university-jerusalem
send request : https://www.topuniversities.com/universities/university-lausanne
send request : https://www.topuniversities.com/universities/erasmus-university-rotterdam
send request : https://www.topuniversities.com/universities/emory-university
send request : https://www.topuniversities.com/universities/university-basel
send request : https://www.topuniversities.com/universities/michigan-state-university
send request : https://www.topuniversities.com/universities/university-otago
send request : https://www.topuniversities.com/universities/university-waterloo
send request : https://www.topuniversities.com/universities/universit%C3%A9-catholique-de-louvain-ucl
send request : https://www.topuniversities.com/universities/university-vienna
send request : https://www.topuniversities.com/universities/hanyang-university
send request : https://www.topuniversities.com/universities/universitat-de-barcelona
send request : https://www.topuniversities.com/universities/%C3%A9cole-normale-sup%C3%A9rieure-de-lyon
send request : https://www.topuniversities.com/universities/university-aberdeen
send request : https://www.topuniversities.com/universities/university-exeter
send request : https://www.topuniversities.com/universities/university-bath
send request : https://www.topuniversities.com/universities/newcastle-university
send request : https://www.topuniversities.com/universities/national-tsing-hua-university
send request : https://www.topuniversities.com/universities/university-minnesota
send request : https://www.topuniversities.com/universities/university-bergen
send request : https://www.topuniversities.com/universities/university-california-irvine
send request : https://www.topuniversities.com/universities/eberhard-karls-universit%C3%A4t-t%C3%BCbingen
send request : https://www.topuniversities.com/universities/university-bern
send request : https://www.topuniversities.com/universities/university-college-dublin
send request : https://www.topuniversities.com/universities/dartmouth-college
send request : https://www.topuniversities.com/universities/politecnico-di-milano
send request : https://www.topuniversities.com/universities/albert-ludwigs-universitaet-freiburg
send request : https://www.topuniversities.com/universities/indian-institute-technology-delhi-iitd
send request : https://www.topuniversities.com/universities/king-fahd-university-petroleum-minerals
send request : https://www.topuniversities.com/universities/university-liverpool
send request : https://www.topuniversities.com/universities/university-virginia
send request : https://www.topuniversities.com/universities/university-technology-sydney
send request : https://www.topuniversities.com/universities/centralesup%C3%A9lec
send request : https://www.topuniversities.com/universities/university-florida
send request : https://www.topuniversities.com/universities/indian-institute-technology-bombay-iitb
send request : https://www.topuniversities.com/universities/university-twente
send request : https://www.topuniversities.com/universities/university-g%C3%B6ttingen
send request : https://www.topuniversities.com/universities/vrije-universiteit-brussel-vub
send request : https://www.topuniversities.com/universities/universidade-estadual-de-campinas-unicamp
send request : https://www.topuniversities.com/universities/university-colorado-boulder
send request : https://www.topuniversities.com/universities/vienna-university-technology
send request : https://www.topuniversities.com/universities/university-rochester
send request : https://www.topuniversities.com/universities/universidad-aut%C3%B3noma-de-madrid
send request : https://www.topuniversities.com/universities/alma-mater-studiorum-university-bologna
send request : https://www.topuniversities.com/universities/university-reading
send request : https://www.topuniversities.com/universities/indian-institute-science-iisc-bangalore
send request : https://www.topuniversities.com/universities/university-cape-town
send request : https://www.topuniversities.com/universities/scuola-normale-superiore-di-pisa
send request : https://www.topuniversities.com/universities/scuola-superiore-santanna-pisa-di-studi-universitari-e-di-perfezionamento

send request : https://www.topuniversities.com/universities/keio-university-cems-mim
send request : https://www.topuniversities.com/universities/stockholm-university
send request : https://www.topuniversities.com/universities/universitat-aut%C3%B2noma-de-barcelona
send request : https://www.topuniversities.com/universities/texas-am-university
send request : https://www.topuniversities.com/universities/instituto-tecnol%C3%B3gico-y-de-estudios-superiores-de-monterrey
send request : https://www.topuniversities.com/universities/maastricht-university

,country,faculty_international,faculty_total,name,rank,region,students_international,students_total
40,South Korea,147.0,1250.0,KAIST - Korea Advanced Institute of Science & ...,41,Asia,584.0,9826.0
41,Australia,1477.0,3311.0,The University of Melbourne,41,Oceania,18030.0,42182.0
42,France,75.0,178.0,"Ecole normale supérieure, Paris",43,Europe,374.0,1907.0
43,United Kingdom,942.0,2870.0,University of Bristol,44,Europe,5099.0,20630.0
44,Australia,1612.0,2924.0,The University of New South Wales (UNSW Sydney),45,Oceania,14292.0,39784.0
45,Hong Kong,1074.0,2208.0,The Chinese University of Hong Kong (CUHK),46,Asia,4824.0,18037.0
46,Australia,1870.0,3158.0,The University of Queensland,47,Oceania,10420.0,37497.0
47,United States,425.0,1342.0,Carnegie Mellon University,47,North America,6385.0,13356.0
48,Hong Kong,1027.0,1349.0,City University of Hong Kong,49,Asia,3273.0,9240.0
49,Australia,1829.0,3360.0,The University of Sydney,50,Oceania,17030.0,46678.0
50,Canada,1635.0,4648.0,University of British Columbia,51,North America,11388.0,50350.0
51,United States,NaN,NaN,New York University (NYU),52,North America,NaN,NaN
52,United States,379.0,1303.0,Brown University,53,North America,1825.0,9251.0
53,Netherlands,701.0,1669.0,Delft University of Technology,54,Europe,4634.0,16527.0
54,United States,1151.0,5722.0,University of Wisconsin-Madison,55,North America,4920.0,38985.0
55,Japan,191.0,1563.0,Tokyo Institute of Technology,56,Asia,1071.0,9832.0
56,United Kingdom,890.0,2093.0,The University of Warwick,57,Europe,7703.0,19855.0
57,Netherlands,707.0,2600.0,University of Amsterdam,58,Europe,3785.0,25967.0
58,France,259.0,649.0,Ecole Polytechnique,59,Europe,924.0,3126.0
59,Australia,1679.0,3204.0,Monash University,60,Oceania,20578.0,57433.0
60,United States,550.0,2484.0,University of Washington,61,North America,8373.0,56973.0
61,China,887.0,3544.0,Shanghai Jiao Tong University,62,Asia,2858.0,38931.0
62,Japan,296.0,2814.0,Osaka University,63,Asia,2106.0,22760.0
63,Germany,1174.0,5850.0,Technical University of Munich,64,Europe,6181.0,38726.0
64,United Kingdom,956.0,2775.0,University of Glasgow,65,Europe,8149.0,23815.0
65,Germany,674.0,3274.0,Ludwig-Maximilians-Universität München,66,Europe,5084.0,35055.0
66,United States,108.0,2833.0,University of Texas at Austin,67,North America,4744.0,47995.0
67,Germany,756.0,3908.0,Ruprecht-Karls-Universität Heidelberg,68,Europe,5298.0,28852.0
68,United States,259.0,2554.0,University of Illinois at Urbana-Champaign,69,North America,9483.0,42427.0
69,United States,75.0,1133.0,Georgia Institute of Technology,70,North America,4761.0,21082.0
70,South Korea,113.0,664.0,Pohang University of Science And Technology (P...,71,Asia,126.0,3117.0
71,Belgium,784.0,2515.0,KU Leuven,71,Europe,6926.0,45538.0
72,Denmark,2336.0,7483.0,University of Copenhagen,73,Europe,3683.0,32119.0
73,Switzerland,2617.0,4997.0,University of Zurich,73,Europe,5036.0,26065.0
74,Argentina,3165.0,16421.0,Universidad de Buenos Aires (UBA),75,Latin America,27109.0,122301.0
75,Japan,264.0,3411.0,Tohoku University,76,Asia,1604.0,17827.0
76,Taiwan,220.0,2807.0,National Taiwan University (NTU),76,Asia,3152.0,32195.0
77,United Kingdom,586.0,1539.0,Durham University,78,Europe,4690.0,16745.0
78,Sweden,1002.0,3031.0,Lund University,78,Europe,6408.0,27786.0
79,United States,524.0,4083.0,"University of North Carolina, Chapel Hill",80,North America,1934.0,25373.0

In [12]:
times_ranking_response = cached_get_request("https://www.timeshighereducation.com/sites/default/files/the_data_rankings/world_university_rankings_2018_limit0_369a9045a203e176392b9fb8f8c1cb2a.json")
times_raw_ranking_data = times_ranking_response.json()['data']

def read_times_entry(raw_entry):
    from math import floor
    
    name = raw_entry["name"]
    rank = read_rank(raw_entry["rank"])
    # TODO: Assert this is always a country
    country = raw_entry["location"]
    # No region found
    region = None
    students_total = read_us_formatted_integer(raw_entry["stats_number_students"])
    
    international_students_ratio = read_percentage(raw_entry["stats_pc_intl_students"])
    students_international = floor(students_total * international_students_ratio)
    
    faculty_to_students_ratio = read_percentage(raw_entry["stats_student_staff_ratio"])
    faculty_total = floor(students_total * faculty_to_students_ratio)
    faculty_international = None
    
    
    return make_entry(name, rank, country, region, faculty_total, faculty_international, students_total, students_international)
    
#   uniProp['internStudentRatio']=t['stats_pc_intl_students']
#   uniProp['internStudent']=math.floor(float(t['stats_pc_intl_students'].replace("%",""))/100*int(t['stats_number_students'].replace(",","")))#Number looks like this 20,409
#   uniProp['totalFacultyRatio']=t['stats_student_staff_ratio']#TODO define which one we want to use
#   uniProp['totalFaculty']=math.floor(int(t['stats_number_students'].replace(",",""))/float(t['stats_student_staff_ratio']))
#   topBAsObjects.append(uniProp)
    
    result["intern_student"] = None
    
    # TODO define which one we want to use
    result["total_faculty_ratio"] = read_percentage(raw_entry["stats_student_staff_ratio"])
    
    result["total_faculty"] = None
    
    return result

def get_times_data(raw_ranking_data, max_rank):
    """
    Return the list of parsed enries (with details) of the top universities ranking.
    It may perform network requests.
    """
    for raw_entry in raw_ranking_data:
        entry = {}
        
        rank = read_rank(raw_entry["rank"])
        if (rank > max_rank):
            # Assume sorted raw ranks to break (instead of `continue`-ing)
            break

        yield read_times_entry(raw_entry)


def get_times_df(raw_ranking_data, max_rank):
    return pd.DataFrame([*get_times_data(raw_ranking_data, max_rank)])


times_df = get_times_df(times_raw_ranking_data, MAX_RANK)
times_df

send request : https://www.timeshighereducation.com/sites/default/files/the_data_rankings/world_university_rankings_2018_limit0_369a9045a203e176392b9fb8f8c1cb2a.json

,country,faculty_international,faculty_total,name,rank,region,students_international,students_total
0,United Kingdom,None,2285,University of Oxford,1,None,7755,20409
1,United Kingdom,None,2004,University of Cambridge,2,None,6436,18389
2,United States,None,143,California Institute of Technology,3,None,596,2209
3,United States,None,1188,Stanford University,3,None,3485,15845
4,United States,None,972,Massachusetts Institute of Technology,5,None,3800,11177
5,United States,None,1809,Harvard University,6,None,5284,20326
6,United States,None,660,Princeton University,7,None,1909,7955
7,United Kingdom,None,1807,Imperial College London,8,None,8721,15857
8,United States,None,838,University of Chicago,9,None,3381,13525
9,Switzerland,None,2808,ETH Zurich – Swiss Federal Institute of Techno...,10,None,7308,19233
10,United States,None,1323,University of Pennsylvania,10,None,4072,20361
11,United States,None,522,Yale University,12,None,2552,12155
12,United States,None,666,Johns Hopkins University,13,None,3719,15498
13,United States,None,1621,Columbia University,14,None,8507,26587
14,United States,None,3770,"University of California, Los Angeles",15,None,6677,39279
15,United Kingdom,None,3181,University College London,16,None,14848,30304
16,United States,None,686,Duke University,17,None,3356,15256
17,United States,None,4739,"University of California, Berkeley",18,None,6150,36182
18,United States,None,2141,Cornell University,19,None,5244,21850
19,United States,None,2235,Northwestern University,20,None,3143,17466
20,United States,None,3596,University of Michigan,21,None,6690,41818
21,Singapore,None,5202,National University of Singapore,22,None,9180,30602
22,Canada,None,12982,University of Toronto,22,None,11802,69427
23,United States,None,1711,Carnegie Mellon University,24,None,5704,12676
24,United Kingdom,None,1227,London School of Economics and Political Science,25,None,7146,10065
25,United States,None,5123,University of Washington,25,None,7191,44945
26,United Kingdom,None,3344,University of Edinburgh,27,None,10703,26759
27,United States,None,4210,New York University,27,None,11403,43860
28,China,None,3750,Peking University,27,None,6741,42136
29,China,None,5766,Tsinghua University,30,None,3788,42089
...,...,...,...,...,...,...,...,...
170,South Africa,None,2430,University of Cape Town,171,None,3739,20775
171,United States,None,4821,"Rutgers, the State University of New Jersey",172,None,4343,43439
172,Sweden,None,2072,KTH Royal Institute of Technology,173,None,2201,12951
173,Germany,None,18014,University of Münster,173,None,2960,42287
174,Belgium,None,10998,Université Libre de Bruxelles,175,None,8870,25343
175,United Kingdom,None,3268,Newcastle University,175,None,6285,20952
176,United Kingdom,None,2318,University of Liverpool,177,None,6935,19815
177,China,None,7057,Zhejiang University,177,None,3003,50051
178,Luxembourg,None,725,University of Luxembourg,179,None,2832,4969
179,Netherlands,None,857,University of Twente,179,None,1808,6697
180,France,None,3947,Paris-Sud University,181,None,4355,27221
181,France,None,188,École Normale Supérieure de Lyon,182,None,288,2221
182,Hong Kong,None,5856,Hong Kong Polytechnic University,182,None,5443,21773
183,Italy,None,26,Scuola Normale Superiore di Pisa,184,None,36,515
184,United Kingdom,None,1675,University of Aberdeen,185,None,4339,12055
185,United States,None,935,University of Miami,186,None,2537,15860
186,United Kingdom,None,1623,University of Dundee,187,None,2614,10893
187,United Kingdom,None,1838,University of East Anglia,188,None,4056,13521
188,China,None,4623,Shanghai Jiao Tong University,188,None,2237,37288
189,Finland,None,2574,Aalto University,190,None,2548,12744
190,United States,None,7877,University of Massachusetts,191,None,8292,59230
191,New Zealand,None,5705,University of Auckland,192,None,8800,30348
192,United States,None,2629,Northeastern University,193,None,6009,18780
193,Russian Federation,None,2134,Lomonosov Moscow State University,194,None,6431,29236
194,Netherlands,None,1741,Tilburg University,195,None,1005,7738
195,France,None,6656,Paris-Sorbonne University – Paris 4,196,None,3306,22042
196,United Kingdom,None,1375,"Royal Holloway, University of London",197,None,3572,8931
197,United States,None,4293,"University of California, Riverside",198,None,2903,20740
198,Sweden,None,1837,University of Gothenburg,198,None,2389,18378
199,Taiwan,None,3652,National Taiwan University,198,None,2540,31758

In [14]:
import string, unidecode
from math import sqrt

def text_synonyms(text):
    synonyms = {
        'universiti':'university', 
        'universite':'university', 
        'universitat':'university', 
        'universitaet':'university', 
        'universidad':'university', 
        'universidade':'university', 
        'universiteit':'university',
        'king\'s':'kings'
    }
    return [word if not(word in synonyms) else synonyms[word] for word in text]

def text_bigrams(text):
    """
    Return the bigrams of the list of tokens
    """
    bigrams  = []
    for index, word in enumerate(text):
        if index + 1 < len(text):
            bigrams += [word + " " + text[index + 1]]
    return bigrams

def text_preprocessing(df, columns="name", suffix="_preprocessed", stopwords=set(["le", "la", "the", "of", "de", "and", "at", "et"])):
    """
    For all selected textual columns of dataframe, 
    append a new preprocessed column which consist of a set of tokens and bigrams
    extracted from text, without any punctuations/accents/uppercases/stopwords.
    """
    data = df[[columns]]
    data = data.applymap(lambda text: unidecode.unidecode(text.lower().translate(str.maketrans('-–', '  ')).translate(str.maketrans('', '', string.punctuation))))
    data = data.applymap(lambda text: [token for token in text.split() if token not in stopwords])
    data = data.applymap(lambda text: text_synonyms(text))
    data = data.applymap(lambda text: set(text + text_bigrams(text)))
    data = data.add_suffix(suffix)
    return df.join(data)

def dataframe_crossjoin(A, B, suffixes=('_A', '_B')):
    """
    Return the cartesian product between the two DataFrames
    """
    A['_tmpkey'] = 1
    B['_tmpkey'] = 1

    AB = pd.merge(A, B, on='_tmpkey', suffixes=suffixes).drop('_tmpkey', axis=1)
    AB.index = pd.MultiIndex.from_product((A.index, B.index))

    A.drop('_tmpkey', axis=1, inplace=True)
    B.drop('_tmpkey', axis=1, inplace=True)

    return AB

def set_distance(A, B):
    """
    Return the distance between two sets, card(A & B) / card(A | B)
    """
    inter = A.intersection(B)
    union = A.union(B)
    return (len(inter) / len(union))

def merge_data(A , B, left_on="name", right_on="name", suffixes=('_A', '_B'), similarity=0.50):
    """
    Merge the data according to the similarity between the two sets of words
    """
    #Exact macth
    exact_matches = A.merge(B, left_on=left_on, right_on=right_on, how="inner", suffixes=suffixes)
    
    #Select doesn't match
    A_no_matches  = A[~A[left_on ].isin(exact_matches[left_on ])]
    B_no_matches  = B[~B[right_on].isin(exact_matches[right_on])]
    
    A = text_preprocessing(A_no_matches, left_on )
    B = text_preprocessing(B_no_matches, right_on)
    
    #Select amongst all possibles pairs, the best one, with a similarity at least higher than the threshold
    cross = dataframe_crossjoin(A, B, suffixes)
    
    selected_cross = cross[[left_on  + "_preprocessed" + suffixes[0], right_on + "_preprocessed" + suffixes[1]]]
    selected_cross = pd.DataFrame(selected_cross.apply(lambda x: set_distance(x[0], x[1]), axis=1))
    selected_cross = selected_cross.loc[selected_cross.groupby(level=0).idxmax()[0]]
    selected_cross = selected_cross.loc[selected_cross.groupby(level=1).idxmax()[0]]
    selected_cross = (selected_cross >= similarity)[0]
    selected_cross = selected_cross[selected_cross].index.tolist()
    
    #We select the first name as the reference
    fuzzy_matches = cross.loc[selected_cross][[left_on + suffixes[0]] + exact_matches.columns[1:].tolist()].reindex()
    fuzzy_matches.columns = exact_matches.columns
    
    A_no_matches = A_no_matches[~A_no_matches.index.isin([x[0] for x in fuzzy_matches.index.values])]
    B_no_matches = B_no_matches[~B_no_matches.index.isin([x[1] for x in fuzzy_matches.index.values])]
    
    matches = exact_matches.append(fuzzy_matches)
    matches.index = [i for i in range(0, matches.shape[0])]
    
    #return cross.loc[selected_cross], A_no_matches, B_no_matches
    return matches, A_no_matches, B_no_matches
    
m, a, b = merge_data(times_df[["name", "rank"]], top_universities_df[["name", "rank"]], suffixes=('_times','_top_universities'))
m

,name,rank_times,rank_top_universities
0,University of Oxford,1,6
1,University of Cambridge,2,5
2,Stanford University,3,2
3,Harvard University,6,3
4,Princeton University,7,13
5,Imperial College London,8,8
6,University of Chicago,9,9
7,University of Pennsylvania,10,19
8,Yale University,12,16
9,Johns Hopkins University,13,17
10,Columbia University,14,18
11,Duke University,17,21
12,Cornell University,19,14
13,Northwestern University,20,28
14,University of Michigan,21,21
15,University of Toronto,22,31
16,Carnegie Mellon University,24,47
17,University of Washington,25,61
18,Peking University,27,38
19,Tsinghua University,30,25
20,Georgia Institute of Technology,33,70
21,University of British Columbia,34,51
22,University of Illinois at Urbana-Champaign,37,69
23,Technical University of Munich,41,64
24,McGill University,42,32
25,University of Wisconsin-Madison,43,55
26,KU Leuven,47,71
27,University of Texas at Austin,49,67
28,Brown University,50,53
29,"University of California, Davis",54,118
...,...,...,...
123,Korea Advanced Institute of Science and Techno...,95,41
124,University of Melbourne,32,41
125,University of New South Wales,85,45
126,Chinese University of Hong Kong,58,46
127,University of Queensland,65,47
128,University of Sydney,61,50
129,New York University,27,52
130,University of Warwick,91,57
131,École Polytechnique,115,59
132,Pohang University of Science and Technology,137,71
133,National Taiwan University,198,76
134,University of North Carolina at Chapel Hill,56,80
135,University of Auckland,192,82
136,University of Sheffield,104,82
137,University of Nottingham,147,84
138,Ohio State University,70,86
139,Trinity College Dublin,117,88
140,University of Western Australia,111,93
141,Hong Kong Polytechnic University,182,95
142,Washington University in St Louis,50,100
143,Karlsruhe Institute of Technology,133,107
144,University of Adelaide,134,109
145,Humboldt University of Berlin,62,120
146,Wageningen University & Research,64,124
147,University of Montreal,108,130
148,Pierre and Marie Curie University,123,131
149,"University of California, Santa Barbara",53,134
150,Université Catholique de Louvain,129,153
151,Autonomous University of Barcelona,147,156
152,University of Exeter,130,158

TODO adrien dans le bus, amuse toi bien
Question 3
Commencer par faire un match exact sur le nom et afficher celles qui ne matchent pas -> les garder en exemple et commenter
On ne doit pas aggreger les nombres etc (voir faq http://go.epfl.ch/ada_faq_hw2)
en gros Nom | Classement 1 | Classement 2

Question 4 : 
Calculer tous les pearsons coefficients pour essayer de trouver des corrélations.
A voir si tu trouves/penses à d'autres méthodes
Question 5 : 
Pour le classement global : tester min max mean et regarder les différences, surtout dire pourquoi un est mieux que l'autre
Eventuellement -> il y a pour chaque université des sous classements mais il faut repaser je ferai ça demain

TODO : 
    - Plot question 1 et 2
    - Global ranking différents sous classements 
    - bien commenter
    - analayse textuelle des résultats et de nos idées

# Part 5 
** Que j'auais bien voulu faire mais malheureusement c'est pas merge.......**

First idea : 
Mean of rank numbers.
TODO : Show results and analyse them. Maybe too much equalities or wierd results ?

Second idea : 
Use more precise scores : 
For example we have following scores : 
**Times** 
* overall score
* teaching
* research
* citations
* industry income
* international outlook

**top**
* academic reputation
* citations per faculty
* employer reputation
* faculty student
* international faculty
* international student

We can notice similar categories : 
The most important is overall score. 
We can take just the mean of both of them and make a new ranking.

Scores that are also presents : 
* citations 
    * times : 30% 
    * top : 20%
    * times : We examine research influence by capturing the number of times a university’s published work is cited by scholars globally.
    * Top : To calculate it, we the total number of citations received by all papers produced by an institution across a five-year period by the number of faculty members at that institution.
    * Both are normalized
* international outlook and mean of (international faculty and international student)
    * times : 7,5%
    * Top 2* 5% 
    * Times : calculated like this :
        * International-to-domestic-student ratio: 2.5%
        * International-to-domestic-staff ratio: 2.5%
        * International collaboration: 2.5%
Maybe we can use mean of overall score and take more into account citations and international outlook at it is present in both ranking 


We can also think to electre methods, for example electre III is particulary suited to build a ranking

In [13]:
testPercentageScore = cached_get_request("https://www.topuniversities.com/sites/default/files/qs-rankings-data/357051_indicators.txt")
data_percentage = testPercentageScore.json()['data']
#Note we might want to use either uni href property or overall_rank to associate this to already created structure
#Rank is set as =21 but in the overall_rank key it's only 21. The equal is present when parsing the overall_rank_dis key
def read_figure_percentage(raw_txt):
    beau_txt = BeautifulSoup(raw_txt, 'html.parser')
    return float(beau_txt.find("div", {"class": "td-wrap-in"}).text.strip())
    
def read_raw_entry_percentage(raw_entry):
    overall = read_figure_percentage(raw_entry['overall'])
    academic_reputation = read_figure_percentage(raw_entry['2971069']) if '2971069' in raw_entry else None
    citations = read_figure_percentage(raw_entry['2971070']) if '2971070' in raw_entry else None
    employer_reputation= read_figure_percentage(raw_entry['2971071']) if '2971071' in raw_entry else None
    faculty_student = read_figure_percentage(raw_entry['2971072']) if '2971072' in raw_entry else None
    inter_faculty= read_figure_percentage(raw_entry['2971073']) if '2971073' in raw_entry else None
    inter_student = read_figure_percentage(raw_entry['2971074']) if '2971074' in raw_entry else None
    return (overall,academic_reputation,citations,employer_reputation,faculty_student,inter_faculty,inter_faculty,inter_student)

for i in range(250):
    print(read_raw_entry_percentage(data_percentage[i]))

(100.0, 100.0, 99.9, 100.0, 100.0, 100.0, 100.0, 96.1)
(98.7, 100.0, 99.4, 100.0, 100.0, 99.6, 99.6, 72.7)
(98.4, 100.0, 99.9, 100.0, 98.3, 96.5, 96.5, 75.2)
(97.7, 99.5, 100.0, 85.4, 100.0, 93.4, 93.4, 89.2)
(95.6, 100.0, 78.3, 100.0, 100.0, 97.4, 97.4, 97.7)
(95.3, 100.0, 76.3, 100.0, 100.0, 98.6, 98.6, 98.5)
(94.6, 99.7, 74.7, 99.5, 99.1, 96.6, 96.6, 100.0)
(93.7, 99.4, 68.7, 100.0, 100.0, 100.0, 100.0, 100.0)
(93.5, 99.9, 85.9, 92.9, 96.5, 71.9, 71.9, 79.8)
(93.3, 99.6, 98.7, 99.4, 68.2, 100.0, 100.0, 98.8)
(92.2, 93.9, 83.3, 96.6, 93.6, 100.0, 100.0, 88.2)
(91.2, 83.0, 99.2, 95.5, 92.0, 100.0, 100.0, 100.0)
(91.0, 100.0, 100.0, 97.3, 70.9, 67.4, 67.4, 70.8)
(90.7, 99.6, 96.2, 93.7, 67.4, 92.2, 92.2, 79.2)
(90.5, 100.0, 66.2, 99.9, 88.8, 100.0, 100.0, 86.1)
(90.4, 100.0, 63.2, 99.8, 100.0, 90.7, 90.7, 61.7)
(89.8, 94.3, 83.9, 66.4, 100.0, 87.9, 87.9, 81.3)
(88.9, 99.9, 62.3, 98.1, 100.0, 34.7, 34.7, 94.9)
(88.7, 97.4, 67.4, 94.9, 100.0, 67.1, 67.1, 64.5)
(87.1, 99.3, 85.6, 90.4, 55.3, 100.0, 100.0, 98.8)
(87.0, 94.0, 91.4, 78.1, 98.1, None, None, 56.6)
(87.0, 99.7, 66.7, 92.2, 89.6, 78.0, 78.0, 51.2)
(86.9, 92.8, 64.8, 92.4, 87.6, 97.4, 97.4, 99.2)
(86.9, 99.1, 55.5, 96.6, 83.2, 94.9, 94.9, 98.6)
(85.6, 99.2, 75.3, 99.6, 86.7, 42.1, 42.1, 25.6)
(85.5, 99.1, 46.3, 93.4, 85.3, 100.0, 100.0, 99.4)
(84.9, 100.0, 99.3, 99.9, 36.2, 97.7, 97.7, 54.6)
(84.8, 91.3, 75.4, 76.6, 98.6, 57.9, 57.9, 55.0)
(84.8, 100.0, 73.3, 99.8, 92.6, None, None, None)
(84.3, 93.0, 87.7, 87.2, 54.9, 100.0, 100.0, 93.0)
(84.0, 99.7, 50.0, 95.6, 74.5, 97.0, 97.0, 92.1)
(83.9, 96.9, 61.4, 96.1, 69.4, 88.9, 88.9, 95.6)
(83.6, 100.0, 97.5, 99.4, 43.7, 54.0, 54.0, 50.0)
(83.0, 97.4, 47.5, 99.4, 75.4, 89.3, 89.3, 98.3)
(81.8, 90.3, 71.7, 100.0, 55.9, 100.0, 100.0, 100.0)
(81.5, 99.7, 56.4, 94.9, 95.7, None, None, None)
(81.5, 98.9, 70.6, 97.4, 79.8, 23.0, 23.0, None)
(80.8, 99.8, 61.7, 99.9, 66.6, 52.8, 52.8, 48.5)
(80.8, 96.0, 90.3, 61.3, 58.9, 64.6, 64.6, 59.9)
(80.6, 91.4, 63.7, 97.1, 76.1, 79.5, 79.5, 45.2)
(80.4, 89.4, 99.5, 87.4, 70.1, 25.2, 25.2, None)
(80.4, 99.8, 77.2, 99.5, 26.2, 94.7, 94.7, 99.7)
(79.9, 80.2, 100.0, 78.6, 60.4, 94.4, 94.4, 60.4)
(79.5, 85.7, 56.4, 95.5, 79.2, 87.9, 87.9, 79.2)
(78.9, 96.4, 79.8, 98.4, None, 100.0, 100.0, 97.8)
(78.8, 94.3, 50.7, 83.3, 66.0, 99.8, 99.8, 84.9)
(78.6, 85.0, 95.6, 85.1, 43.2, 62.3, 62.3, 100.0)
(78.6, 94.6, 83.4, 84.1, 30.8, 100.0, 100.0, 87.3)
(78.4, 70.8, 91.5, 50.5, 83.6, 100.0, 100.0, 97.5)
(78.0, 99.3, 70.3, 98.3, None, 100.0, 100.0, 98.1)
(77.9, 99.1, 63.7, 95.5, 37.9, 91.5, 91.5, 72.2)
(77.3, 97.9, 23.4, 92.6, 95.5, None, None, 84.1)
(76.5, 72.5, 92.5, 56.9, 80.3, 80.2, 80.2, 60.9)
(76.1, 79.7, 91.6, 91.0, 36.7, 97.7, 97.7, 87.4)
(75.8, 94.0, 54.2, 62.1, 84.0, 53.2, 53.2, 30.9)
(74.8, 83.1, 62.4, 83.7, 90.1, 26.5, 26.5, 24.4)
(74.4, 83.5, 54.1, 98.9, 51.2, 98.0, 98.0, 99.0)
(74.3, 90.1, 83.5, 66.1, 45.2, 75.4, 75.4, 38.9)
(74.0, 61.2, 50.8, 99.9, 99.3, 96.4, 96.4, 90.8)
(73.1, 93.6, 68.5, 95.2, None, 100.0, 100.0, 97.7)
(72.9, 92.3, 98.8, 56.7, 28.0, 57.2, 57.2, 39.4)
(72.5, 87.0, 81.5, 97.4, 36.7, 69.2, 69.2, None)
(72.1, 88.5, 63.1, 75.4, 71.9, 21.5, 21.5, None)
(72.0, 86.3, 26.6, 98.7, 86.4, 53.0, 53.0, 44.8)
(71.6, 80.4, 55.5, 66.6, 60.7, 90.5, 90.5, 96.6)
(70.8, 95.8, 55.1, 88.2, 38.9, 54.8, 54.8, 38.6)
(70.6, 97.6, 95.7, 82.1, None, None, None, None)
(70.4, 87.6, 34.8, 76.5, 76.6, 50.5, 50.5, 55.2)
(70.3, 95.1, 93.5, 59.8, None, 20.4, 20.4, 71.2)
(70.1, 79.1, 99.1, 79.4, 31.7, None, None, 72.1)
(69.4, 88.1, 88.9, 78.0, None, 84.8, 84.8, 41.6)
(69.4, 50.9, 99.8, 65.6, 99.5, 42.4, 42.4, None)
(69.2, 81.7, 26.9, 54.2, 99.9, 84.9, 84.9, 26.5)
(69.2, 68.3, 31.9, 78.1, 98.1, 100.0, 100.0, 59.2)
(69.1, 94.5, None, 95.5, 75.1, 50.3, 50.3, 70.6)
(69.0, 95.6, 74.1, 74.2, 33.3, None, None, None)
(69.0, 78.3, 48.4, 66.0, 98.1, None, None, None)
(68.5, 66.8, 76.3, 97.1, 37.5, 94.8, 94.8, 87.8)
(68.5, 80.0, 51.8, 71.8, 53.7, 88.3, 88.3, 73.8)
(67.8, 77.5, 61.5, 48.1, 86.9, 28.5, 28.5, None)
(67.2, 71.3, 59.8, 78.5, 66.4, 22.1, 22.1, 86.5)
(67.0, 92.2, 48.1, 77.3, None, 85.5, 85.5, 89.6)
(67.0, 69.8, 50.1, 69.9, 64.3, 83.6, 83.6, 96.8)
(66.8, 69.9, 46.3, 87.5, 59.5, 89.5, 89.5, 86.5)
(66.8, 74.7, 47.2, 88.6, 48.2, 90.9, 90.9, 86.0)
(66.1, 75.3, 40.3, 60.6, 77.7, 79.3, 79.3, 44.7)
(65.9, 74.0, 80.2, 87.1, 37.2, 54.2, 54.2, 25.9)
(65.7, 73.8, 68.3, 68.9, 30.7, 98.4, 98.4, 89.5)
(65.6, 45.5, 96.7, None, 83.9, 87.5, 87.5, 87.7)
(65.5, 76.8, 32.8, 88.1, 82.8, None, None, 36.7)
(65.5, 73.0, 49.6, 61.1, 56.6, 93.0, 93.0, 82.4)
(65.3, 53.0, 69.6, 57.1, 72.0, 98.0, 98.0, 99.9)
(65.2, 84.6, 80.2, 75.1, None, None, None, 42.9)
(65.2, 71.6, 82.3, 64.1, None, 100.0, 100.0, 72.9)
(65.0, 82.0, None, 79.6, 99.7, None, None, 48.7)
(65.0, 70.2, 54.5, 52.4, 58.0, 100.0, 100.0, 80.2)
(64.9, 62.9, 96.7, 57.9, 67.6, None, None, None)
(64.7, 57.2, 70.0, 87.0, 62.5, 88.1, 88.1, 42.0)
(64.7, 57.7, 82.1, 41.4, 55.1, 100.0, 100.0, 98.9)
(64.6, 51.0, 78.3, None, 99.6, 57.8, 57.8, 62.4)
(64.5, 74.4, 42.3, 86.9, 47.0, 79.4, 79.4, 81.3)
(63.9, 76.4, 41.5, 51.4, 83.4, 53.6, 53.6, None)
(63.9, 62.1, 56.0, 58.4, 62.6, 92.7, 92.7, 95.3)
(63.6, 39.1, 83.3, 54.4, 93.1, 98.4, 98.4, 43.8)
(63.2, 73.7, 58.0, 70.7, 31.6, 97.2, 97.2, 73.7)
(62.3, 71.8, 31.8, 87.7, 79.6, None, None, 32.6)
(61.9, 57.2, 69.8, 96.8, 47.0, 61.1, 61.1, 55.5)
(61.6, 62.4, 37.9, 96.5, 85.1, None, None, 27.6)
(61.5, 77.9, 70.9, 42.1, 33.7, 69.2, 69.2, 33.0)
(61.5, 73.0, 55.2, 58.5, 28.5, 93.3, 93.3, 98.8)
(61.5, 74.6, 75.5, 43.6, 41.8, 57.2, 57.2, None)
(61.4, 75.7, 56.5, 49.4, 46.2, 46.7, 46.7, 64.1)
(61.3, 60.9, 53.6, 36.3, 65.3, 89.7, 89.7, 99.1)
(60.8, 69.5, 85.3, 66.2, None, 69.7, 69.7, None)
(60.8, 65.7, 24.3, 57.5, 87.8, 65.4, 65.4, 59.7)
(60.7, 68.9, 37.0, 51.5, 93.5, None, None, None)
(60.7, 35.4, 69.3, 38.5, 99.8, 99.2, 99.2, 75.7)
(60.4, 80.7, 61.6, 47.1, 36.1, 42.0, 42.0, 33.3)
(59.3, 66.1, 74.6, 54.6, 34.3, 72.1, 72.1, 37.9)
(59.2, 94.0, 33.6, 73.4, None, 55.2, 55.2, 38.4)
(59.1, 94.8, 25.7, 90.2, 31.4, None, None, None)
(59.0, 68.5, 35.1, 59.5, 85.0, None, None, None)
(59.0, 95.8, None, 89.6, 50.9, None, None, None)
(58.7, 45.2, 56.7, 35.3, 97.9, 32.8, 32.8, 88.8)
(58.4, 88.7, 48.3, 61.4, None, 60.2, 60.2, 51.1)
(58.4, 62.4, 55.3, 47.3, 69.4, 49.7, 49.7, 22.9)
(58.3, 56.2, 43.3, 49.7, 61.0, 98.0, 98.0, 99.6)
(58.2, 63.6, 31.9, 62.0, 91.1, None, None, None)
(58.1, 63.8, 75.8, 33.2, 55.0, 26.1, 26.1, 33.1)
(57.7, 67.2, 49.9, 73.5, None, 91.3, 91.3, 79.4)
(57.5, 63.0, 81.0, 53.5, 34.5, 23.3, 23.3, 50.7)
(57.2, 64.8, 70.4, 55.0, 27.8, 44.6, 44.6, 75.8)
(57.1, 42.1, 70.3, 75.7, 60.5, 84.9, 84.9, 44.2)
(56.9, 75.7, 97.5, None, None, 47.2, 47.2, None)
(56.3, 50.2, 63.2, 47.1, 46.2, 91.2, 91.2, 98.0)
(56.3, 52.2, 53.0, 50.2, 58.9, 90.9, 90.9, 66.2)
(56.0, 46.5, 63.8, 53.5, 65.1, 81.0, 81.0, 41.0)
(56.0, 57.1, 39.5, 63.0, 56.6, 70.9, 70.9, 79.6)
(56.0, 92.4, None, 94.6, 30.3, None, None, None)
(55.8, 51.8, 35.7, 57.2, 77.2, 92.8, 92.8, 40.5)
(55.6, 71.3, 42.1, 98.4, None, 32.6, 32.6, 58.8)
(55.5, 62.8, 48.9, 41.5, 51.7, 78.4, 78.4, 42.4)
(55.5, 51.0, 51.3, None, 97.7, 24.3, 24.3, 25.2)
(55.2, 64.2, 27.2, 84.9, 53.1, 34.6, 34.6, 63.2)
(54.7, 55.6, 50.4, 36.4, 77.0, 53.4, 53.4, None)
(54.5, 41.9, 30.9, 42.8, 91.2, 99.6, 99.6, 79.6)
(54.4, 35.5, 70.5, None, 97.5, 49.0, 49.0, 48.3)
(54.4, 46.8, 74.3, 70.3, 34.7, 62.1, 62.1, 71.7)
(54.3, 68.6, 59.5, 60.7, None, 61.7, 61.7, 47.2)
(54.3, 40.9, 94.4, 39.1, 29.1, 100.0, 100.0, 84.9)
(54.2, 63.9, 57.2, 49.9, None, 100.0, 100.0, 65.7)
(53.7, 48.8, 80.9, 82.4, None, 77.6, 77.6, 80.7)
(53.6, 62.7, 54.6, 63.0, None, 88.7, 88.7, 55.4)
(53.3, 75.2, None, 51.2, None, 97.1, 97.1, 93.8)
(53.2, 53.5, 29.7, 72.6, 76.3, 25.3, 25.3, 38.8)
(52.9, 80.0, 33.4, 60.7, 30.6, None, None, 33.7)
(52.8, 48.9, 30.1, None, 99.8, 57.0, 57.0, 24.6)
(52.7, 39.6, 59.0, 45.7, 53.7, 95.5, 95.5, 97.5)
(52.7, 47.2, 58.6, 70.6, 31.1, 89.8, 89.8, 84.3)
(52.6, 45.3, 56.9, 80.9, 28.2, 94.5, 94.5, 90.4)
(52.4, 56.4, 90.2, 50.8, None, 24.9, 24.9, None)
(52.4, 42.6, 42.9, 66.4, 56.5, 90.4, 90.4, 83.9)
(52.2, 76.8, 63.1, 34.9, None, None, None, 24.6)
(52.1, 55.8, None, 49.8, 80.1, 55.2, 55.2, 36.9)
(52.1, 42.0, 59.7, None, 81.0, 86.4, 86.4, None)
(52.1, 54.0, 89.2, None, None, 51.3, 51.3, 84.4)
(51.9, 38.1, 88.4, 43.2, 37.7, 100.0, 100.0, 40.8)
(51.5, 53.4, 48.4, 69.4, 28.0, 95.7, 95.7, 60.2)
(51.3, 31.4, 70.5, 49.1, 86.3, None, None, 41.5)
(50.9, 63.9, 53.1, 93.4, None, 36.9, 36.9, 42.4)
(50.8, 61.6, 53.8, 37.8, 31.2, 56.2, 56.2, 48.4)
(50.7, 54.9, 91.2, 71.1, None, None, None, None)
(50.3, 35.7, 27.6, 40.5, 94.9, 100.0, 100.0, 46.6)
(50.3, 45.4, 38.7, 47.5, 53.0, 82.3, 82.3, 96.5)
(50.3, 47.7, 53.3, 49.2, 60.6, 50.7, 50.7, None)
(50.1, 50.7, 45.8, 87.0, None, 97.2, 97.2, 94.5)
(50.0, None, 31.8, 100.0, 79.4, 64.4, 64.4, 90.2)
(49.8, 58.6, 39.2, 37.5, 63.1, 18.2, 18.2, 21.7)
(49.7, 62.3, 50.8, 77.9, 32.1, None, None, None)
(49.7, 28.9, 92.2, None, 42.7, 88.0, 88.0, 76.8)
(49.6, 62.2, 23.9, None, 64.7, 43.8, 43.8, 29.6)
(49.5, 39.8, 83.7, 75.6, None, 67.2, 67.2, 91.2)
(49.5, 76.9, 30.0, 73.4, None, None, None, None)
(49.5, 47.0, 52.0, 43.7, 65.6, 36.7, 36.7, None)
(49.5, 34.5, 23.8, 41.3, 98.2, 79.4, 79.4, 61.9)
(49.3, 32.1, 42.6, None, 100.0, 47.3, 47.3, 90.0)
(49.2, 65.7, 24.7, 74.1, 43.4, None, None, 24.3)
(49.1, 81.5, 36.9, 62.9, None, None, None, None)
(49.1, 39.4, 51.6, 55.8, 41.3, 88.1, 88.1, 92.5)
(49.0, 38.3, 100.0, None, 56.1, None, None, None)
(48.9, 60.2, 35.9, 55.1, 32.9, 59.2, 59.2, 49.2)
(48.5, 63.0, None, 80.2, 60.7, None, None, None)
(48.5, None, 98.3, None, 91.2, None, None, None)
(48.5, None, 96.0, None, 86.3, None, None, 49.8)
(48.1, 65.8, 49.2, None, None, 64.3, 64.3, None)
(38.8, 41.5, 32.5, 77.0, None, 47.3, 47.3, 38.5)
(48.1, 69.7, 57.0, 54.1, None, None, None, None)
(48.1, 72.1, 43.7, 41.5, None, 21.5, 21.5, 28.6)
(48.0, 42.8, None, 84.9, 77.1, 98.4, 98.4, 23.2)
(47.9, 30.8, 73.3, 39.0, 35.4, 95.9, 95.9, 100.0)
(47.8, 82.7, None, 85.1, None, None, None, None)
(47.4, 35.2, 50.9, 50.5, 41.7, 98.8, 98.8, 94.5)
(47.2, 69.0, None, 89.0, 29.9, 28.3, 28.3, 34.2)
(47.1, 38.6, 73.6, None, 55.5, 44.7, 44.7, 40.4)
(47.0, 49.1, 96.0, 45.5, None, 29.7, 29.7, None)
(47.0, 46.2, 44.4, 67.0, None, 91.7, 91.7, 95.3)
(46.9, 33.3, 76.8, 38.4, 49.5, 35.2, 35.2, 53.1)
(46.9, 55.0, 46.9, 33.1, 36.2, 35.4, 35.4, 61.1)
(46.7, 51.4, 73.0, 34.2, None, 51.0, 51.0, 64.0)
(46.6, 35.0, 22.6, 38.0, 93.0, 65.3, 65.3, 45.7)
(46.6, 39.2, 72.1, 69.3, None, 99.1, 99.1, 47.6)
(46.5, 35.8, 33.4, None, 100.0, 21.7, 21.7, 36.0)
(46.4, None, 54.9, None, 97.8, 25.4, 25.4, 61.4)
(46.3, 47.1, 56.8, 48.5, None, 99.0, 99.0, 64.7)
(46.1, 78.2, 40.1, 49.5, None, None, None, None)
(45.9, 36.3, 72.0, 34.1, 42.3, 79.3, 79.3, None)
(45.8, 42.8, 43.5, 56.9, 35.0, 82.5, 82.5, 61.3)
(45.6, 50.5, 55.8, 43.5, 35.8, 38.2, 38.2, None)
(45.5, 54.0, 45.8, 41.6, None, 100.0, 100.0, 58.7)
(45.2, 31.6, None, 72.1, 82.5, 62.2, 62.2, 98.5)
(44.5, 35.9, None, 37.7, 89.3, 98.3, 98.3, None)
(44.3, 49.9, 49.3, 42.0, 40.2, None, None, 26.7)
(44.2, 56.6, None, 44.0, 51.7, 23.0, 23.0, 26.6)
(44.0, 43.9, 61.9, 70.5, None, 73.8, 73.8, 25.6)
(44.0, 40.6, 79.4, 40.0, None, 63.1, 63.1, None)
(44.0, 40.0, 49.1, 37.0, 28.4, 99.5, 99.5, 74.6)
(43.8, 41.8, 27.5, 53.2, 62.5, 21.1, 21.1, 52.1)
(43.7, 36.6, 54.7, None, 31.7, 94.1, 94.1, 97.9)
(43.6, 49.0, None, 34.4, 56.0, 43.0, 43.0, 73.0)
(43.4, 49.6, None, 35.1, 66.5, 44.7, 44.7, 39.9)
(43.4, 51.3, 66.4, None, None, None, None, None)
(43.3, 33.1, 59.4, 49.3, None, 98.0, 98.0, 81.8)
(43.2, 68.9, None, 76.8, None, None, None, 33.8)
(43.1, 35.3, 41.4, 69.2, 32.1, 79.0, 79.0, 66.1)
(43.0, None, None, 83.7, 64.6, 99.2, 99.2, 68.0)
(42.9, 38.6, None, 50.8, 99.0, 30.9, 30.9, None)
(42.9, 69.5, 38.2, None, None, 20.9, 20.9, 32.5)
(42.8, 28.7, 50.9, None, 46.2, 87.1, 87.1, 91.1)
(42.6, 56.6, 23.7, None, 47.9, None, None, 31.2)
(42.5, 41.2, 47.2, 55.6, None, 85.9, 85.9, 78.2)
(42.5, 42.4, None, 35.2, 97.7, None, None, 28.6)
(42.3, 34.7, 24.1, 34.0, 78.1, 42.5, 42.5, 46.7)
(42.0, 28.4, None, 45.1, 73.5, 89.8, 89.8, 66.2)
(42.0, None, 62.8, None, 66.1, 56.3, 56.3, 33.3)
(41.8, 74.5, None, 48.1, None, None, None, None)
(41.8, 31.5, 78.0, None, None, 94.2, 94.2, 91.9)
(41.6, 46.7, 36.8, 63.0, None, 97.2, 97.2, 42.9)
(41.6, 43.8, 23.0, 74.8, None, 100.0, 100.0, 84.4)
(41.5, 51.9, 63.1, None, None, None, None, None)
(41.3, 37.6, None, 43.6, 82.4, None, None, 56.3)