Import libraries and define main constants

In [1]:
import pandas as pd
import numpy as np
import requests
from bs4 import BeautifulSoup

TOP_UNIVERSITIES_BASE_URL = "https://www.topuniversities.com"
TIMES_BASE_URL = "https://www.timeshighereducation.com/"
# Max rank to load for each ranking
MAX_RANK=200 # 200

## Cached requests

The following method adds a cache for simple HTTP GET requests and ensures that at most one request will be sent per unique URL.

**Re-evalute the cell with the function to flush the cache.**

In [2]:
CACHE = {}
def cached_get_request(url, cache=CACHE):
    """
    Perform a cached HTTP GET request for `url`.
    
    The first time you send a request for an `url`, it will effectivelly
    send an HTTP request. The response will be cached in `cache` and each
    subsequent call for a cached URL will use a cache lookup using an exact
    match on the url instead of sending a new HTTP request.
    
    This function will use a shared cache by default, you can provide your
    own dictionary if you want to override this behavior.
    Reevalute this function to flush the shared cache.
    
    :param url str: URL to GET
    :cache: A dictionary from urls to HTTP responses. Mutated if it did not contain the key `url`.
    :return: _requests_' response for the provided URL.
    """
    
    if url not in cache:
        print("send request : "+url)
        cache[url] = requests.get(url)
    return cache[url]

We define a few functions used to read the data
- `read_rank` allows to convert a string of the form `"=40"` to `40`, `"10-12"` to `10` (TODO: give example with em dash)
- `read_us_formatted_integer` allows to convert string representation with a comma used used as the thousands separtor.

In [12]:
def read_rank(raw_rank):
    """
    :param raw_rank str: Rank string, as found by scrapping
    :return int: Integer representing the rank of the university
    """
    if '-' in raw_rank:
        return int(raw_rank[:raw_rank.index('-')])
    if '–' in raw_rank:
        return int(raw_rank[:raw_rank.index('–')])
    return int(raw_rank.replace('=', ''))

In [13]:
def read_us_formatted_integer(raw_integer):
    """
    Reads a string representing an integer properly formatted using US convention.
    
    The US format uses commas as the thousands separator.
    
    Examples:
    ```
    >>> read_us_formatted_integer("0")
    0
    >>> read_us_formatted_integer("1,000")
    1000
    >>> read_us_formatted_integer("999,999,999")
    999999999
    
    ```
    :param raw_integer str: US Formatted string for an integer
    :return int: Integer corresponding to the provided value.
    """
    return int(raw_integer.replace(",", ""))

In [14]:
def read_percentage(raw_percentage):
    """
    :param raw_percentage str: Percentage string
    :return float: Ratio corresponding to the percentage (between 0 and 1)
    """ 
    return float(raw_percentage.replace("%", "")) / 100

TODO : Describe data

In [15]:
def make_entry(name, rank, country, region, faculty_total, faculty_international, students_total, students_international, **extra_keys):
    return {
        "name": name,
        "rank": rank,
        "country": country,
        "region": region,
        "faculty_total": faculty_total,
        "faculty_international": faculty_international,
        "students_total": students_total,
        "students_international": students_international,
        **extra_keys,
    }

In [16]:
def get_top(rawData, limit, top_uni):
    # TODO: Replace this function if we need to be flexible
    # TODO: Define "flexible"
    # TODO: Convert this function to a generator and let the consumer decide if he wants to allocate an array
    top = []
    for r in rawData:
#         print r
        tempRank = read_rank(r["rank_display"] if top_uni else r["rank"])
        if tempRank > limit:
            break
        top.append(r)
    return top

Fetch data from Top Universities
TODO : try catch beautiful soup
Make function for scrapping

In [25]:
def findValueHtml(custom_class, html_to_parse):
    try:
        value_inside = html_to_parse.find("div", {"class": custom_class}).find("div", {"class": "number"}).text.strip()
    except Exception as e:
        #print("Error parsing html : ")
        #print(html_to_parse)
        #print(e)
        return None
    return value_inside

In [35]:
ranking_response = cached_get_request("https://www.topuniversities.com/sites/default/files/qs-rankings-data/357051.txt")
raw_ranking_data = ranking_response.json()['data']

def read_top_universities_entry(raw_entry, html_details):
    name = raw_entry["title"]
    rank = read_rank(raw_entry["rank_display"])
    country = raw_entry["country"]
    region = raw_entry["region"]
    faculty_total_str = findValueHtml("total faculty",html_details)
    faculty_total = read_us_formatted_integer(faculty_total_str) if faculty_total_str is not None else None
    faculty_international_str = findValueHtml("inter faculty",html_details)
    faculty_international = read_us_formatted_integer(faculty_international_str) if faculty_international_str is not None else None
    students_total_str  = findValueHtml("total student",html_details)
    students_total = read_us_formatted_integer(students_total_str) if students_total_str is not None else None
    students_international_str  = findValueHtml("total inter",html_details)
    students_international = read_us_formatted_integer(students_international_str) if students_international_str is not None else None
    
    return make_entry(name, rank, country, region, faculty_total, faculty_international, students_total, students_international)


def get_top_universities_data(raw_ranking_data, max_rank):
    """
    Return the list of parsed enries (with details) of the top universities ranking.
    It may perform network requests.
    """
    for raw_entry in raw_ranking_data:
        entry = {}
        
        rank = read_rank(raw_entry["rank_display"])
        if (rank > max_rank):
            # Assume sorted raw ranks to break (instead of `continue`-ing)
            break
        
        details_reponse = cached_get_request(TOP_UNIVERSITIES_BASE_URL + raw_entry["url"])
        raw_details_data = BeautifulSoup(details_reponse.text, 'html.parser')

        yield read_top_universities_entry(raw_entry, raw_details_data)


def get_top_universities_df(raw_ranking_data, max_rank):
    return pd.DataFrame([*get_top_universities_data(raw_ranking_data, max_rank)])

top_universities_df = get_top_universities_df(raw_ranking_data, MAX_RANK)
top_universities_df[40:80]

,country,faculty_international,faculty_total,name,rank,region,students_international,students_total
40,South Korea,147.0,1250.0,KAIST - Korea Advanced Institute of Science & ...,41,Asia,584.0,9826.0
41,Australia,1477.0,3311.0,The University of Melbourne,41,Oceania,18030.0,42182.0
42,France,75.0,178.0,"Ecole normale supérieure, Paris",43,Europe,374.0,1907.0
43,United Kingdom,942.0,2870.0,University of Bristol,44,Europe,5099.0,20630.0
44,Australia,1612.0,2924.0,The University of New South Wales (UNSW Sydney),45,Oceania,14292.0,39784.0
45,Hong Kong,1074.0,2208.0,The Chinese University of Hong Kong (CUHK),46,Asia,4824.0,18037.0
46,Australia,1870.0,3158.0,The University of Queensland,47,Oceania,10420.0,37497.0
47,United States,425.0,1342.0,Carnegie Mellon University,47,North America,6385.0,13356.0
48,Hong Kong,1027.0,1349.0,City University of Hong Kong,49,Asia,3273.0,9240.0
49,Australia,1829.0,3360.0,The University of Sydney,50,Oceania,17030.0,46678.0
50,Canada,1635.0,4648.0,University of British Columbia,51,North America,11388.0,50350.0
51,United States,NaN,NaN,New York University (NYU),52,North America,NaN,NaN
52,United States,379.0,1303.0,Brown University,53,North America,1825.0,9251.0
53,Netherlands,701.0,1669.0,Delft University of Technology,54,Europe,4634.0,16527.0
54,United States,1151.0,5722.0,University of Wisconsin-Madison,55,North America,4920.0,38985.0
55,Japan,191.0,1563.0,Tokyo Institute of Technology,56,Asia,1071.0,9832.0
56,United Kingdom,890.0,2093.0,The University of Warwick,57,Europe,7703.0,19855.0
57,Netherlands,707.0,2600.0,University of Amsterdam,58,Europe,3785.0,25967.0
58,France,259.0,649.0,Ecole Polytechnique,59,Europe,924.0,3126.0
59,Australia,1679.0,3204.0,Monash University,60,Oceania,20578.0,57433.0
60,United States,550.0,2484.0,University of Washington,61,North America,8373.0,56973.0
61,China,887.0,3544.0,Shanghai Jiao Tong University,62,Asia,2858.0,38931.0
62,Japan,296.0,2814.0,Osaka University,63,Asia,2106.0,22760.0
63,Germany,1174.0,5850.0,Technical University of Munich,64,Europe,6181.0,38726.0
64,United Kingdom,956.0,2775.0,University of Glasgow,65,Europe,8149.0,23815.0
65,Germany,674.0,3274.0,Ludwig-Maximilians-Universität München,66,Europe,5084.0,35055.0
66,United States,108.0,2833.0,University of Texas at Austin,67,North America,4744.0,47995.0
67,Germany,756.0,3908.0,Ruprecht-Karls-Universität Heidelberg,68,Europe,5298.0,28852.0
68,United States,259.0,2554.0,University of Illinois at Urbana-Champaign,69,North America,9483.0,42427.0
69,United States,75.0,1133.0,Georgia Institute of Technology,70,North America,4761.0,21082.0
70,South Korea,113.0,664.0,Pohang University of Science And Technology (P...,71,Asia,126.0,3117.0
71,Belgium,784.0,2515.0,KU Leuven,71,Europe,6926.0,45538.0
72,Denmark,2336.0,7483.0,University of Copenhagen,73,Europe,3683.0,32119.0
73,Switzerland,2617.0,4997.0,University of Zurich,73,Europe,5036.0,26065.0
74,Argentina,3165.0,16421.0,Universidad de Buenos Aires (UBA),75,Latin America,27109.0,122301.0
75,Japan,264.0,3411.0,Tohoku University,76,Asia,1604.0,17827.0
76,Taiwan,220.0,2807.0,National Taiwan University (NTU),76,Asia,3152.0,32195.0
77,United Kingdom,586.0,1539.0,Durham University,78,Europe,4690.0,16745.0
78,Sweden,1002.0,3031.0,Lund University,78,Europe,6408.0,27786.0
79,United States,524.0,4083.0,"University of North Carolina, Chapel Hill",80,North America,1934.0,25373.0

In [30]:
times_ranking_response = cached_get_request("https://www.timeshighereducation.com/sites/default/files/the_data_rankings/world_university_rankings_2018_limit0_369a9045a203e176392b9fb8f8c1cb2a.json")
times_raw_ranking_data = times_ranking_response.json()['data']

def read_times_entry(raw_entry):
    from math import floor
    
    name = raw_entry["name"]
    rank = read_rank(raw_entry["rank"])
    # TODO: Assert this is always a country
    country = raw_entry["location"]
    # No region found
    region = None
    students_total = read_us_formatted_integer(raw_entry["stats_number_students"])
    international_students_ratio = read_percentage(raw_entry["stats_pc_intl_students"])
    students_international = floor(students_total * international_students_ratio)
    faculty_to_students_ratio = read_percentage(raw_entry["stats_student_staff_ratio"])
    faculty_total = floor(students_total * faculty_to_students_ratio)
    faculty_international = None
    
    
    return make_entry(name, rank, country, region, faculty_total, faculty_international, students_total, students_international)
    
#   uniProp['internStudentRatio']=t['stats_pc_intl_students']
#   uniProp['internStudent']=math.floor(float(t['stats_pc_intl_students'].replace("%",""))/100*int(t['stats_number_students'].replace(",","")))#Number looks like this 20,409
#   uniProp['totalFacultyRatio']=t['stats_student_staff_ratio']#TODO define which one we want to use
#   uniProp['totalFaculty']=math.floor(int(t['stats_number_students'].replace(",",""))/float(t['stats_student_staff_ratio']))
#   topBAsObjects.append(uniProp)
    
    result["intern_student"] = None
    
    # TODO define which one we want to use
    result["total_faculty_ratio"] = read_percentage(raw_entry["stats_student_staff_ratio"])
    
    result["total_faculty"] = None
    
    return result

def get_times_data(raw_ranking_data, max_rank):
    """
    Return the list of parsed enries (with details) of the top universities ranking.
    It may perform network requests.
    """
    for raw_entry in raw_ranking_data:
        entry = {}
        
        rank = read_rank(raw_entry["rank"])
        if (rank > max_rank):
            # Assume sorted raw ranks to break (instead of `continue`-ing)
            break

        yield read_times_entry(raw_entry)


def get_times_df(raw_ranking_data, max_rank):
    return pd.DataFrame([*get_times_data(raw_ranking_data, max_rank)])


times_df = get_times_df(times_raw_ranking_data, MAX_RANK)
times_df

,country,faculty_international,faculty_total,name,rank,region,students_international,students_total
0,United Kingdom,None,2285,University of Oxford,1,None,7755,20409
1,United Kingdom,None,2004,University of Cambridge,2,None,6436,18389
2,United States,None,143,California Institute of Technology,3,None,596,2209
3,United States,None,1188,Stanford University,3,None,3485,15845
4,United States,None,972,Massachusetts Institute of Technology,5,None,3800,11177
5,United States,None,1809,Harvard University,6,None,5284,20326
6,United States,None,660,Princeton University,7,None,1909,7955
7,United Kingdom,None,1807,Imperial College London,8,None,8721,15857
8,United States,None,838,University of Chicago,9,None,3381,13525
9,Switzerland,None,2808,ETH Zurich – Swiss Federal Institute of Techno...,10,None,7308,19233
10,United States,None,1323,University of Pennsylvania,10,None,4072,20361
11,United States,None,522,Yale University,12,None,2552,12155
12,United States,None,666,Johns Hopkins University,13,None,3719,15498
13,United States,None,1621,Columbia University,14,None,8507,26587
14,United States,None,3770,"University of California, Los Angeles",15,None,6677,39279
15,United Kingdom,None,3181,University College London,16,None,14848,30304
16,United States,None,686,Duke University,17,None,3356,15256
17,United States,None,4739,"University of California, Berkeley",18,None,6150,36182
18,United States,None,2141,Cornell University,19,None,5244,21850
19,United States,None,2235,Northwestern University,20,None,3143,17466
20,United States,None,3596,University of Michigan,21,None,6690,41818
21,Singapore,None,5202,National University of Singapore,22,None,9180,30602
22,Canada,None,12982,University of Toronto,22,None,11802,69427
23,United States,None,1711,Carnegie Mellon University,24,None,5704,12676
24,United Kingdom,None,1227,London School of Economics and Political Science,25,None,7146,10065
25,United States,None,5123,University of Washington,25,None,7191,44945
26,United Kingdom,None,3344,University of Edinburgh,27,None,10703,26759
27,United States,None,4210,New York University,27,None,11403,43860
28,China,None,3750,Peking University,27,None,6741,42136
29,China,None,5766,Tsinghua University,30,None,3788,42089
...,...,...,...,...,...,...,...,...
170,South Africa,None,2430,University of Cape Town,171,None,3739,20775
171,United States,None,4821,"Rutgers, the State University of New Jersey",172,None,4343,43439
172,Sweden,None,2072,KTH Royal Institute of Technology,173,None,2201,12951
173,Germany,None,18014,University of Münster,173,None,2960,42287
174,Belgium,None,10998,Université Libre de Bruxelles,175,None,8870,25343
175,United Kingdom,None,3268,Newcastle University,175,None,6285,20952
176,United Kingdom,None,2318,University of Liverpool,177,None,6935,19815
177,China,None,7057,Zhejiang University,177,None,3003,50051
178,Luxembourg,None,725,University of Luxembourg,179,None,2832,4969
179,Netherlands,None,857,University of Twente,179,None,1808,6697
180,France,None,3947,Paris-Sud University,181,None,4355,27221
181,France,None,188,École Normale Supérieure de Lyon,182,None,288,2221
182,Hong Kong,None,5856,Hong Kong Polytechnic University,182,None,5443,21773
183,Italy,None,26,Scuola Normale Superiore di Pisa,184,None,36,515
184,United Kingdom,None,1675,University of Aberdeen,185,None,4339,12055
185,United States,None,935,University of Miami,186,None,2537,15860
186,United Kingdom,None,1623,University of Dundee,187,None,2614,10893
187,United Kingdom,None,1838,University of East Anglia,188,None,4056,13521
188,China,None,4623,Shanghai Jiao Tong University,188,None,2237,37288
189,Finland,None,2574,Aalto University,190,None,2548,12744
190,United States,None,7877,University of Massachusetts,191,None,8292,59230
191,New Zealand,None,5705,University of Auckland,192,None,8800,30348
192,United States,None,2629,Northeastern University,193,None,6009,18780
193,Russian Federation,None,2134,Lomonosov Moscow State University,194,None,6431,29236
194,Netherlands,None,1741,Tilburg University,195,None,1005,7738
195,France,None,6656,Paris-Sorbonne University – Paris 4,196,None,3306,22042
196,United Kingdom,None,1375,"Royal Holloway, University of London",197,None,3572,8931
197,United States,None,4293,"University of California, Riverside",198,None,2903,20740
198,Sweden,None,1837,University of Gothenburg,198,None,2389,18378
199,Taiwan,None,3652,National Taiwan University,198,None,2540,31758

TODO adrien dans le bus, amuse toi bien
Question 3
Commencer par faire un match exact sur le nom et afficher celles qui ne matchent pas -> les garder en exemple et commenter
On ne doit pas aggreger les nombres etc (voir faq http://go.epfl.ch/ada_faq_hw2)
en gros Nom | Classement 1 | Classement 2

Question 4 : 
Calculer tous les pearsons coefficients pour essayer de trouver des corrélations.
A voir si tu trouves/penses à d'autres méthodes
Question 5 : 
Pour le classement global : tester min max mean et regarder les différences, surtout dire pourquoi un est mieux que l'autre
Eventuellement -> il y a pour chaque université des sous classements mais il faut repaser je ferai ça demain

TODO : 
    - Plot question 1 et 2
    - Global ranking différents sous classements 
    - bien commenter
    - analayse textuelle des résultats et de nos idées

# Part 5 
** Que j'auais bien voulu faire mais malheureusement c'est pas merge.......**

First idea : 
Mean of rank numbers.
TODO : Show results and analyse them. Maybe too much equalities or wierd results ?

Second idea : 
Use more precise scores : 
For example we have following scores : 
**Times** 
* overall score
* teaching
* research
* citations
* industry income
* international outlook

**top**
* academic reputation
* citations per faculty
* employer reputation
* faculty student
* international faculty
* international student

We can notice similar categories : 
The most important is overall score. 
We can take just the mean of both of them and make a new ranking.

Scores that are also presents : 
* citations 
    * times : 30% 
    * top : 20%
    * times : We examine research influence by capturing the number of times a university’s published work is cited by scholars globally.
    * Top : To calculate it, we the total number of citations received by all papers produced by an institution across a five-year period by the number of faculty members at that institution.
    * Both are normalized
* international outlook and mean of (international faculty and international student)
    * times : 7,5%
    * Top 2* 5% 
    * Times : calculated like this :
        * International-to-domestic-student ratio: 2.5%
        * International-to-domestic-staff ratio: 2.5%
        * International collaboration: 2.5%
Maybe we can use mean of overall score and take more into account citations and international outlook at it is present in both ranking 


We can also think to electre methods, for example electre III is particulary suited to build a ranking